<%
# User landing page plugin for Chiliproject
# Copyright (C) 2011-2012  Arnauld NYAKU
%>
<div class="contextual">
<%= link_to l(:label_user_landing_page_settings_new),new_user_landing_page_setting_path, :class => 'icon icon-add' %>
</div>
<h2><%=l(:label_user_landing_pages)%></h2>

<div class="autoscroll">
<table class="list">
  <thead><tr>
	<th><%=  l(:field_page_name) %></th>
	<th><%=  l(:field_page_url) %></th>
        <th><%=  l(:field_group) %></th>
	<th><%=  l(:field_created_on)%></th>
	<th><%=  l(:field_updated_on) %></th>
        <th></th>
  </tr></thead>
  <tbody>
    <% for user_page in UserLandingPageSetting.all -%>
  <tr class="user <%= cycle("odd", "even") %>">
	<td class="firstname"><%= link_to h(user_page.page_name), edit_user_landing_page_setting_path(user_page) %></td>
	<td class="lastname"><%= h(user_page.page_url) %></td>
        <td class="lastname"><%= h(user_page.group.name) if user_page.group %></td>
	<td class="created_on" align="center"><%= format_time(user_page.created_at) %></td>
	<td class="created_on" align="center"><%= format_time(user_page.updated_at) %></td>
        <td class="buttons"><%= link_to l(:button_delete), user_page, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %></td>
  </tr>
    <% end -%>
  </tbody>
</table>
</div>